<div id="page-top" *ngIf=this.isAuthenticated>
    <div id="wrapper">
        <app-sidebar></app-sidebar>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link"
                                    data-toggle="dropdown" aria-expanded="false" href="#"><i
                                        class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu"
                                    aria-labelledby="searchDropdown">
                                </div>
                            </li>
                        </ul>
                        <app-logout></app-logout>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Search Property</h3>
                    <div class="row text-uppercase text-left visible mb-3">
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">Basic Details</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label
                                                                for="username"><strong>property</strong><br></label>
                                                            <input ngModel [ngModelOptions]="{standalone: true}"
                                                                [name]="property" [(ngModel)]="property"
                                                                class="form-control" type="text" placeholder="user.name"
                                                                name="username">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label
                                                                for="email"><strong>freehold/leasehold</strong></label>
                                                            <input ngModel [ngModelOptions]="{standalone: true}"
                                                                [name]="fl" [(ngModel)]="fl" class="form-control"
                                                                type="email" placeholder="user@example.com"
                                                                name="email"></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label
                                                                for="first_name"><strong>locality</strong><br></label>
                                                            <input ngModel [ngModelOptions]="{standalone: true}"
                                                                [name]="phone" [(ngModel)]="phone" class="form-control"
                                                                type="number" placeholder="phone number"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="last_name"><strong>bhk
                                                                    type</strong></label>
                                                            <input ngModel [ngModelOptions]="{standalone: true}"
                                                                [name]="bhktype" [(ngModel)]="bhktype"
                                                                class="form-control" type="text"
                                                                placeholder="Broker or something else?"
                                                                name="last_name"></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-group"><label for="address"><strong>property
                                                            type</strong></label>
                                                    <input ngModel [ngModelOptions]="{standalone: true}"
                                                        [name]="propertytype" [(ngModel)]="propertytype"
                                                        class="form-control" type="text" placeholder="Sunset Blvd, 38"
                                                        name="address"></div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label
                                                                for="city"><strong>furnished/unfurnished</strong><br></label>
                                                            <input ngModel [ngModelOptions]="{standalone: true}"
                                                                [name]="furnished" [(ngModel)]="furnished"
                                                                class="form-control" type="text"
                                                                placeholder="Businessman / Service" name="city"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="country"><strong>area
                                                                    measurement</strong><br></label>
                                                            <input ngModel [ngModelOptions]="{standalone: true}"
                                                                [name]="area" [(ngModel)]="area" class="form-control"
                                                                type="text" placeholder="Description" name="country">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-group"><label for="address"><strong>Sale or
                                                            rent</strong></label>
                                                    <input ngModel [ngModelOptions]="{standalone: true}" [name]="sale"
                                                        [(ngModel)]="sale" class="form-control" type="text"
                                                        placeholder="Sunset Blvd, 38" name="address"></div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label
                                                                for="city"><strong>block</strong><br></label>
                                                            <input ngModel [ngModelOptions]="{standalone: true}"
                                                                [name]="block" [(ngModel)]="block" class="form-control"
                                                                type="text" placeholder="Businessman / Service"
                                                                name="city"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="country"><strong>select
                                                                    floor</strong><br></label>
                                                            <input ngModel [ngModelOptions]="{standalone: true}"
                                                                [name]="floor" [(ngModel)]="floor" class="form-control"
                                                                type="text" placeholder="Description" name="country">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save&nbsp;Settings</button></div> -->
                                            </form>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-group"><label for="address"><strong>price
                                                            range</strong><br></label></div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label
                                                                for="city"><strong>from</strong><br></label>
                                                            <input ngModel [ngModelOptions]="{standalone: true}"
                                                                [name]="pricefrom" [(ngModel)]="pricefrom"
                                                                class="form-control" type="text"
                                                                placeholder="Businessman / Service" name="city"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label
                                                                for="country"><strong>to</strong><br></label>
                                                            <input ngModel [ngModelOptions]="{standalone: true}"
                                                                [name]="priceto" [(ngModel)]="priceto"
                                                                class="form-control" type="text"
                                                                placeholder="Description" name="country"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group"><button class="btn btn-primary btn-sm"
                                                        type="submit"
                                                        (click)='getdata(property, fl, phone, bhktype, propertytype, furnished, area, sale, block, floor, pricefrom, priceto)'>Save&nbsp;</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card shadow"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © MNR CONSULTANTS</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
</div>